/* User detail new choice form */
.userDetail .newChoiceForm {
  background: #323232;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
  position: absolute;
  top: 100px;
  width: 100%; }
  .userDetail .newChoiceForm .chooseChoice {
    margin: 0 0 20px 0; }
    .userDetail .newChoiceForm .chooseChoice h1 {
      color: white;
      font-size: 27px;
      font-weight: 300;
      line-height: 27px;
      margin: 0; }
      .userDetail .newChoiceForm .chooseChoice h1.invalid {
        color: #ff1a00; }
    .userDetail .newChoiceForm .chooseChoice .choices {
      background: white;
      font-size: 14px;
      margin: 20px 0 0 0;
      padding: 10px; }
      .userDetail .newChoiceForm .chooseChoice .choices a {
        color: #323232;
        display: block;
        float: left;
        padding: 10px 20px;
        text-align: center; }
        .userDetail .newChoiceForm .chooseChoice .choices a:hover {
          background: gainsboro; }
        .userDetail .newChoiceForm .chooseChoice .choices a.selected {
          color: white;
          background: #73ca24; }
    .userDetail .newChoiceForm .chooseChoice .hourChoices p {
      float: left;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      padding: 10px 20px; }
    .userDetail .newChoiceForm .chooseChoice .hourChoices a {
      width: 16px; }
  .userDetail .newChoiceForm .message textarea {
    height: 64px;
    width: 100%; }
  .userDetail .newChoiceForm .action {
    margin: 20px 0 0 0;
    float: right; }

/* Request page, choice partial */
.choices {
  padding: 20px 0; }
  .choices .choice {
    background: #f0f0f0;
    margin: 20px 0 0 0;
    padding: 20px 20px; }
    .choices .choice:first-child {
      margin: 0; }
    .choices .choice .top .image {
      float: left;
      height: 50px;
      overflow: hidden;
      width: 50px; }
      .choices .choice .top .image img {
        max-height: 50px; }
    .choices .choice .top .timestamp {
      float: right; }
      .choices .choice .top .timestamp p {
        font-size: 13px;
        line-height: 20px;
        text-align: right; }
    .choices .choice .top .name {
      margin: 0 0 0 60px; }
      .choices .choice .top .name h1 {
        font-size: 18px;
        font-weight: 300;
        line-height: 27px;
        margin: 0; }
      .choices .choice .top .name p {
        font-size: 14px;
        line-height: 23px; }
      .choices .choice .top .name a {
        color: #323232; }
        .choices .choice .top .name a:hover {
          text-decoration: underline; }
    .choices .choice .bottom {
      margin: 10px 0 0 0; }
      .choices .choice .bottom p {
        font-size: 13px;
        line-height: 20px; }
    .choices .choice .choiceActionForm a {
      background: #c8c8c8;
      color: #323232;
      display: block;
      float: left;
      font-size: 14px;
      line-height: 16px;
      margin: 10px 10px 0 0;
      padding: 10px 20px; }
      .choices .choice .choiceActionForm a.setDatePlace {
        background: #73ca24;
        color: white; }
    .choices .choice .choiceActionForm .action {
      float: left; }
      .choices .choice .choiceActionForm .action button {
        float: left;
        margin: 10px 10px 0 0; }
      .choices .choice .choiceActionForm .action .deny, .choices .choice .choiceActionForm .action .complete {
        background: #323232;
        color: white; }
    .choices .choice .contactNumber {
      float: right; }
      .choices .choice .contactNumber p {
        color: #969696;
        font-size: 13px;
        line-height: 20px;
        margin: 10px 0 0 0; }
        .choices .choice .contactNumber p span {
          color: #323232; }

/* Choice detail */
.choiceDetail {
  padding: 40px 0; }
  .choiceDetail h1 {
    font-size: 36px;
    font-weight: 300;
    margin: 0; }
  .choiceDetail section {
    margin: 40px 0 0 0; }
    .choiceDetail section.date h5 {
      background-image: url("../img/days.png"); }
    .choiceDetail section.date input:hover {
      cursor: pointer; }
    .choiceDetail section.place h5 {
      background-image: url("../img/location.png"); }
    .choiceDetail section.place .field {
      margin: 10px 0 0 0;
      width: 55%; }
      .choiceDetail section.place .field:first-child {
        margin: 0; }
      .choiceDetail section.place .field.address input {
        width: 100%; }
      .choiceDetail section.place .field.cityState input {
        float: left;
        margin: 0 10px 0 0;
        width: 45%; }
    .choiceDetail section.choiceNotes h5 {
      background-image: url("../img/notes.png"); }
    .choiceDetail section p {
      font-size: 14px;
      margin: 0 0 10px 35px; }
      .choiceDetail section p:last-child {
        margin-bottom: 0; }
  .choiceDetail .action {
    margin: 40px 0 0 0; }
  .choiceDetail .contactInfo {
    font-size: 14px;
    margin: 40px 0 0 0;
    text-align: center; }
    .choiceDetail .contactInfo a {
      color: #299a0b; }
      .choiceDetail .contactInfo a:hover {
        text-decoration: underline; }

/* Choice notes */
.choiceNotes .notes .choiceNote {
  margin: 10px 0 0 0;
  padding: 10px; }
  .choiceNotes .notes .choiceNote:first-child {
    margin: 0; }
  .choiceNotes .notes .choiceNote .image {
    float: left;
    height: 40px;
    overflow: hidden;
    width: 40px; }
    .choiceNotes .notes .choiceNote .image img {
      max-height: 40px; }
  .choiceNotes .notes .choiceNote .name p, .choiceNotes .notes .choiceNote .choiceNoteContent p {
    font-size: 14px;
    margin: 0; }
  .choiceNotes .notes .choiceNote .name {
    margin: 0 0 0 50px; }
    .choiceNotes .notes .choiceNote .name p {
      line-height: 20px; }
      .choiceNotes .notes .choiceNote .name p a {
        color: #323232; }
        .choiceNotes .notes .choiceNote .name p a:hover {
          text-decoration: underline; }
  .choiceNotes .notes .choiceNote .choiceNoteContent {
    margin: 5px 0 0 0; }
    .choiceNotes .notes .choiceNote .choiceNoteContent p {
      line-height: 21px; }
    .choiceNotes .notes .choiceNote .choiceNoteContent a:hover {
      text-decoration: underline; }
.choiceNotes .choiceNoteForm {
  margin: 10px 0 0 0; }
  .choiceNotes .choiceNoteForm textarea {
    width: 100%; }
  .choiceNotes .choiceNoteForm .action {
    margin: 10px 0 0 0;
    text-align: right; }
