header {
  background: #323232;
  height: 44px;
  width: 100%; }
  header .header {
    margin: 0 auto;
    max-width: 960px;
    width: 100%; }
    header .header .logo {
      display: block;
      float: left;
      height: 44px; }
      header .header .logo .spade {
        max-height: 24px;
        padding: 10px 0; }
      header .header .logo .spadetree {
        margin: 0 0 0 10px;
        max-height: 16px;
        padding: 14px 0; }
    header .header nav {
      float: right; }
      header .header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        header .header nav ul li {
          display: inline-block;
          float: left; }
          header .header nav ul li a {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            color: #87de38;
            display: block;
            font-size: 14px;
            line-height: 44px;
            padding: 0 20px; }
            header .header nav ul li a:hover {
              background: #87de38;
              color: white; }
            header .header nav ul li a.menu:hover {
              background: #646464; }
            header .header nav ul li a.menuShow {
              background: #464646;
              color: #969696; }
              header .header nav ul li a.menuShow:hover {
                color: white; }
            header .header nav ul li a div {
              float: left;
              height: 20px;
              margin: 12px 10px 0 0;
              overflow: hidden;
              width: 20px; }
              header .header nav ul li a div img {
                float: left;
                max-height: 20px; }
      header .header nav #menu {
        display: none;
        position: relative; }
        header .header nav #menu ul {
          background: #464646;
          position: absolute;
          right: 0;
          top: 44px;
          width: 160px;
          z-index: 500; }
          header .header nav #menu ul li {
            display: block;
            float: none; }
            header .header nav #menu ul li a {
              color: #969696; }
              header .header nav #menu ul li a:hover {
                background: #646464;
                color: white; }
