header {
  background: #323232;
  height: 44px;
  width: 100%; }
  header .header {
    margin: 0 auto;
    max-width: 960px;
    width: 100%; }
    header .header .logo {
      display: block;
      float: left;
      height: 44px; }
      header .header .logo .spade {
        max-height: 24px;
        padding: 10px 0; }
      header .header .logo .spadetree {
        margin: 0 0 0 10px;
        max-height: 16px;
        padding: 14px 0; }
    header .header nav {
      float: right; }
      header .header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        header .header nav ul li {
          display: inline-block; }
          header .header nav ul li a {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
            color: white;
            display: block;
            font-size: 14px;
            line-height: 44px;
            padding: 0 20px; }
            header .header nav ul li a:hover {
              color: #91e842; }
