/* Sign up */
.join {
  background-image: url("../img/join_background.jpg");
  background-repeat: no-repeat;
  height: 560px;
  width: 100%; }
  .join .joinTexture {
    background-image: url("../img/texture.png");
    height: 100%;
    width: 100%; }
    .join .joinTexture .intro {
      height: 100%;
      margin: 0 auto;
      max-width: 960px;
      width: 100%; }
      .join .joinTexture .intro .introContent {
        background: rgba(0, 0, 0, 0.7);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        color: white;
        float: right;
        margin: 80px 0 0 0;
        max-height: 400px;
        padding: 40px; }
        .join .joinTexture .intro .introContent h1 {
          font-family: 'Varela', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-size: 36px;
          font-weight: 300;
          line-height: 43px;
          margin: 0 0 20px 0;
          text-align: right; }
        .join .joinTexture .intro .introContent h2 {
          font-family: 'Hattori Hanzo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-size: 18px;
          font-weight: 300;
          line-height: 27px;
          margin: 0;
          text-align: right; }
        .join .joinTexture .intro .introContent .facebookButton {
          background: #476ea3;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border-radius: 2px;
          display: block;
          margin: 40px 0 0 0;
          padding: 10px; }
          .join .joinTexture .intro .introContent .facebookButton:hover {
            background: #5178ad; }
          .join .joinTexture .intro .introContent .facebookButton img {
            float: left;
            height: 40px;
            width: 40px; }
          .join .joinTexture .intro .introContent .facebookButton p {
            color: white;
            font-family: 'Varela', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 40px;
            text-align: center; }
        .join .joinTexture .intro .introContent .facebookNote {
          font-family: 'Hattori Hanzo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          margin: 40px 0 0 0;
          text-align: center; }
          .join .joinTexture .intro .introContent .facebookNote p {
            font-size: 14px;
            line-height: 21px; }

/* Target audience */
.audience, .howItWorks {
  display: -webkit-box;
  display: moz-box;
  display: ms-flexbox;
  max-width: 960px; }

.audience {
  margin: 80px auto; }
  .audience .section {
    width: 50%; }
    .audience .section h1 {
      font-family: 'Varela', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 36px;
      font-weight: 300;
      margin: 0;
      text-align: center; }
    .audience .section .image {
      height: 240px;
      margin: 20px auto 0 auto;
      width: 240px; }
      .audience .section .image img {
        max-height: 100%;
        max-width: 100%; }
    .audience .section p {
      font-family: 'Hattori Hanzo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 18px;
      line-height: 27px;
      margin: 20px 0 0 0;
      padding: 0 50px; }

/* How it works */
.howItWorksContainer {
  padding: 80px 0;
  width: 100%; }
  .howItWorksContainer.tutee {
    background-color: #f0f0f0; }
  .howItWorksContainer.tutor {
    background-color: gainsboro; }
  .howItWorksContainer h1 {
    font-family: 'Varela', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    text-align: center; }
  .howItWorksContainer .howItWorks {
    margin: 40px auto 0 auto; }
    .howItWorksContainer .howItWorks .section {
      width: 33%; }
      .howItWorksContainer .howItWorks .section .image {
        height: 50%;
        margin: 20px auto 0 auto;
        width: 50%; }
        .howItWorksContainer .howItWorks .section .image img {
          max-height: 100%;
          max-width: 100%; }
      .howItWorksContainer .howItWorks .section p {
        font-family: 'Hattori Hanzo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 27px;
        margin: 20px 0 0 0;
        padding: 0 50px; }

/* Join closing */
.joinClosingContainer {
  background-image: url("../img/texture2.png");
  padding: 80px 0; }
  .joinClosingContainer .joinClosing {
    margin: 0 auto;
    max-width: 960px; }
    .joinClosingContainer .joinClosing h1 {
      float: left;
      font-family: 'Hattori Hanzo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      margin: 7px 0 0 0;
      width: 36%; }
    .joinClosingContainer .joinClosing .image {
      margin: 0 auto;
      height: 20%;
      width: 20%; }
      .joinClosingContainer .joinClosing .image img {
        max-height: 100%;
        max-width: 100%; }
    .joinClosingContainer .joinClosing a {
      background: #73ca24;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      color: white;
      display: block;
      float: right;
      margin: 66px 0 0 0;
      padding: 20px 10px;
      width: 36%; }
      .joinClosingContainer .joinClosing a:hover {
        background: #7dd42e; }
      .joinClosingContainer .joinClosing a p {
        font-family: 'Varela', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 20px;
        text-align: center; }
