.tutorial {
  background: black;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100; }
  .tutorial .headerBlocker {
    height: 44px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .tutorial .insideBlocker {
    left: 0;
    position: absolute;
    top: 44px;
    width: 100%; }
  .tutorial .header .browse {
    border: 1px solid transparent; }
  .tutorial .slides nav {
    margin: 0 auto;
    max-width: 960px;
    width: 100%; }
    .tutorial .slides nav p {
      color: #73ca24;
      font-size: 27px;
      line-height: 36px;
      padding: 40px; }
      .tutorial .slides nav p:hover {
        cursor: pointer; }
      .tutorial .slides nav p.back {
        float: left; }
      .tutorial .slides nav p.next {
        float: right; }
  .tutorial .slides .slide2, .tutorial .slides .slide3 {
    display: none; }
  .tutorial .inside {
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 960px; }
    .tutorial .inside .interestListTutorial {
      padding: 20px; }
      .tutorial .inside .interestListTutorial .interestList {
        padding: 0; }
        .tutorial .inside .interestListTutorial .interestList .search {
          margin: 0; }
          .tutorial .inside .interestListTutorial .interestList .search .field input {
            border: 1px solid transparent; }
        .tutorial .inside .interestListTutorial .interestList .results {
          margin: 20px 0 0 0; }
    .tutorial .inside .userDetail .top .chooseTutor {
      border: 1px solid transparent; }
    .tutorial .inside .choiceDetail {
      padding: 40px 20px; }
      .tutorial .inside .choiceDetail input {
        border: 1px solid transparent; }
    .tutorial .inside .userEdit {
      margin: 0;
      padding: 40px 20px; }
      .tutorial .inside .userEdit input {
        border: 1px solid transparent; }
      .tutorial .inside .userEdit .section.about {
        margin: 0; }
        .tutorial .inside .userEdit .section.about .aboutTutorTutorial {
          border: 1px solid transparent;
          padding: 10px; }
          .tutorial .inside .userEdit .section.about .aboutTutorTutorial p {
            font-size: 14px;
            line-height: 21px; }
    .tutorial .inside .choices {
      padding: 40px 20px; }
      .tutorial .inside .choices button {
        border: 1px solid transparent; }
  .tutorial .message {
    margin: 40px 0 0 0; }
    .tutorial .message p {
      color: white;
      font-size: 27px;
      line-height: 36px;
      margin: 0 auto;
      max-width: 960px;
      text-align: center;
      width: 100%; }
  .tutorial .hiddenFields {
    display: none;
    font-size: 0; }
