/* Choose */
.choose h1 {
  font-family: 'Varela', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 300;
  margin: 40px 0 0 0;
  text-align: center; }
.choose .audience {
  margin: 40px 0 0 0; }
  .choose .audience form {
    width: 50%; }
    .choose .audience form button {
      background: none;
      border: none;
      float: left;
      margin: 0;
      width: 100%;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      color: #323232;
      padding: 20px; }
      .choose .audience form button:hover {
        background: gainsboro;
        cursor: pointer; }
      .choose .audience form button p {
        text-align: center; }

/* Detail */
.userDetail .top {
  background: #e6e6e6;
  height: 100px;
  padding: 40px 20px; }
  .userDetail .top .image {
    float: left;
    height: 100px;
    margin: 0 20px 0 0;
    overflow: hidden;
    text-align: center;
    width: 100px; }
    .userDetail .top .image img {
      max-height: 100px; }
  .userDetail .top .name {
    float: left; }
    .userDetail .top .name h1 {
      font-size: 36px;
      font-weight: 300;
      line-height: 54px;
      margin: 0; }
    .userDetail .top .name p {
      background-image: url("../img/location.png");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      font-size: 18px;
      line-height: 18px;
      margin: 20px 0 0 0;
      padding: 0 0 0 23px; }
  .userDetail .top .chooseTutor {
    background: #73ca24;
    color: white;
    display: block;
    float: right;
    font-size: 18px;
    line-height: 24px;
    margin: 28px 0 0 0;
    padding: 10px 20px; }
.userDetail .bottom {
  background: #f0f0f0;
  padding: 20px; }
  .userDetail .bottom .section {
    width: 45%; }
    .userDetail .bottom .section.about {
      float: left; }
      .userDetail .bottom .section.about h1 {
        background-image: url("../img/about.png"); }
    .userDetail .bottom .section.skills {
      float: right; }
      .userDetail .bottom .section.skills h1 {
        background-image: url("../img/skills.png"); }
      .userDetail .bottom .section.skills ul {
        list-style-position: inside;
        list-style-type: square;
        margin: 0;
        padding: 0; }
        .userDetail .bottom .section.skills ul li {
          float: left;
          width: 50%; }
          .userDetail .bottom .section.skills ul li:hover {
            color: #299a0b; }
          .userDetail .bottom .section.skills ul li a {
            color: #299a0b;
            display: block;
            font-size: 14px;
            height: 18px;
            line-height: 21px;
            overflow: hidden;
            padding: 5px 0;
            text-overflow: ellipsis; }
            .userDetail .bottom .section.skills ul li a:hover {
              color: #323232; }
    .userDetail .bottom .section h1 {
      background-repeat: no-repeat;
      background-size: 25px 25px;
      font-size: 27px;
      font-weight: 300;
      line-height: 27px;
      margin: 0 0 20px 0;
      padding: 0 0 0 35px; }
    .userDetail .bottom .section p {
      font-size: 14px;
      line-height: 27px; }
.userDetail .friendsTutored h1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin: 0; }
.userDetail .friendsTutored .friendTutored {
  margin: 10px 0 0 0; }
  .userDetail .friendsTutored .friendTutored .image {
    float: left;
    height: 35px;
    overflow: hidden;
    width: 35px; }
    .userDetail .friendsTutored .friendTutored .image img {
      max-height: 35px; }
  .userDetail .friendsTutored .friendTutored .info {
    margin: 0 0 0 45px;
    overflow: hidden; }
    .userDetail .friendsTutored .friendTutored .info p {
      font-size: 13px;
      line-height: 19px; }
    .userDetail .friendsTutored .friendTutored .info .interests {
      height: 16px; }
      .userDetail .friendsTutored .friendTutored .info .interests a {
        color: #299a0b;
        font-size: 13px; }
        .userDetail .friendsTutored .friendTutored .info .interests a:hover {
          text-decoration: underline; }

/* Edit */
.userEdit {
  margin: 0 0 40px 0; }
  .userEdit .section {
    margin: 40px 0 0 0; }
    .userEdit .section.skills h1 {
      background-image: url("../img/skills.png"); }
    .userEdit .section.skills .skillBox {
      background: #f0f0f0;
      min-height: 36px;
      padding: 10px; }
    .userEdit .section.skills .addSkill {
      margin: 10px 0 0 0; }
      .userEdit .section.skills .addSkill .inputBox {
        padding: 0 110px 0 0; }
        .userEdit .section.skills .addSkill .inputBox input {
          float: left; }
      .userEdit .section.skills .addSkill .addSkillButton {
        background: #73ca24;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        color: white;
        float: right;
        font-size: 14px;
        line-height: 16px;
        padding: 13px 20px 14px 20px;
        text-align: center;
        width: 100px; }
    .userEdit .section.about h1 {
      background-image: url("../img/about.png"); }
    .userEdit .section.location {
      float: left;
      width: 55%; }
      .userEdit .section.location h1 {
        background-image: url("../img/location.png"); }
      .userEdit .section.location .field {
        float: left;
        margin: 0 10px 0 0;
        width: 45%; }
    .userEdit .section.phone {
      float: right;
      width: 40%; }
      .userEdit .section.phone h1 {
        background-image: url("../img/phone.png"); }
      .userEdit .section.phone .contactNote {
        color: #969696;
        font-size: 13px;
        line-height: 20px;
        margin: 10px 0 0 0;
        text-align: center; }
    .userEdit .section.days .dayHourBox, .userEdit .section.hours .dayHourBox {
      background: #f0f0f0;
      min-height: 36px;
      padding: 10px; }
      .userEdit .section.days .dayHourBox .selectForm:first-child button, .userEdit .section.hours .dayHourBox .selectForm:first-child button {
        margin: 0; }
      .userEdit .section.days .dayHourBox .selectForm button, .userEdit .section.hours .dayHourBox .selectForm button {
        background: none;
        color: #323232;
        float: left;
        margin: 0 0 0 10px;
        padding: 10px; }
        .userEdit .section.days .dayHourBox .selectForm button:hover, .userEdit .section.hours .dayHourBox .selectForm button:hover {
          background: gainsboro; }
        .userEdit .section.days .dayHourBox .selectForm button.selected, .userEdit .section.hours .dayHourBox .selectForm button.selected {
          background: #323232;
          color: white; }
    .userEdit .section.days h1 {
      background-image: url("../img/days.png"); }
    .userEdit .section.hours h1 {
      background-image: url("../img/hours.png"); }
    .userEdit .section.hours .dayHourBox .hourAm, .userEdit .section.hours .dayHourBox .hourPm {
      height: 36px; }
      .userEdit .section.hours .dayHourBox .hourAm p, .userEdit .section.hours .dayHourBox .hourPm p {
        float: left;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        padding: 10px 20px; }
      .userEdit .section.hours .dayHourBox .hourAm .selectForm button, .userEdit .section.hours .dayHourBox .hourPm .selectForm button {
        padding: 10px 20px; }
    .userEdit .section.hours .dayHourBox .hourPm {
      margin: 10px 0 0 0; }
    .userEdit .section h1 {
      background-repeat: no-repeat;
      background-size: 25px 25px;
      font-size: 27px;
      font-weight: 300;
      line-height: 27px;
      margin: 0 0 20px 0;
      padding: 0 0 0 35px; }
    .userEdit .section input, .userEdit .section textarea {
      width: 100%; }
    .userEdit .section textarea {
      height: 127px; }
  .userEdit .action {
    margin: 40px 0 0 0; }
