<div class='choiceDetail'>
  <h1>Filming on {{ weekday }} at {{ hour }}</h1>
  <section class='date'>
    <h5>Set a date on {{ weekday }}</h5>
    <div class='field'>
      <input type='text' readonly='readonly' value='{{ date }}'>
    </div>
  </section>
  <section class='place'>
    <h5>Set a place to meet - tutor is near San Diego, California</h5>
    <div class='field address'>
      <input class='address' type='text' value='1234 Learning Street'>
    </div>
    <div class='field cityState'>
      <input class='city' type='text' value='Santa Monica'>
      <input class='state' type='text' value='California'>
    </div>
    <div class='clear'></div>
  </section>
</div>