<!DOCTYPE HTML>
<html lang='en'>
<head>
  <title>Page Not Found</title>
  <link rel='icon' type='image/png' href='http://s3.amazonaws.com/spadetree/img/favicon.png'>
  <script type='text/javascript'>

  </script>
</head>
<body>
  <div class='wrapper'>
    <header>
      <div class='header'>

      </div>
    </header>
    <div class='content'>

    </div>
  </div>
  <footer>
    <div class='footer'>
      <nav>
        <ul>

        </ul>
      </nav>
      <p>SpadeTree &copy; 2013</p>
    </div>
  </footer>
</body>
</html>