<!DOCTYPE HTML>
<html lang='en'>
<head>
  <title>Error</title>
  <link rel='icon' type='image/png' href='http://s3.amazonaws.com/spadetree/img/favicon.png'>
  <link rel='stylesheet' type='text/css' href='https://s3.amazonaws.com/spadetree/css/header.css'>
  <link rel='stylesheet' type='text/css' href='https://s3.amazonaws.com/spadetree/css/footer.css'>
  <link rel='stylesheet' type='text/css' href='https://s3.amazonaws.com/spadetree/css/main.css'>
  <link rel='stylesheet' type='text/css' href='https://s3.amazonaws.com/spadetree/css/404500.css'>
  <script type='text/javascript'>

  </script>
</head>
<body>
  <div class='wrapper'>
    <header>
      <div class='header'>
        <a href='/' class='logo'>
          <img src='http://s3.amazonaws.com/spadetree/img/spade_green.png' class='spade'>
          <img src='http://s3.amazonaws.com/spadetree/img/spadetree.png' class='spadetree'>
        </a>
      </div>
    </header>
    <div class='content'>
      <div class="dialog">
        <h1>There was a glitch in the Matrix</h1>
        <p>
          Wake up, the story does not end here
        </p>
        <a class="redPill" href="/">
          Follow the bread crumbs
        </a>
      </div>
    </div>
  </div>
  <footer>
    <div class='footer'>
      <nav>
        <ul>
          <li><a href='/about'>About</a></li>
          <li>
            <a href='https://facebook.com/SpadeTreeGrow' target='_blank'>
              Facebook
            </a>
          </li>
        </ul>
      </nav>
      <p>SpadeTree &copy; 2013</p>
    </div>
  </footer>
</body>
</html>