<!DOCTYPE HTML>
<html lang='en'>
<head>
  <title>
    {% if not user.is_anonymous %}
      {% if user.profile.title_count %}
        ({{ user.profile.title_count }})
      {% endif %}
    {% endif %}
    {% block title %}SpadeTree{% endblock %}
  </title>
  {% load static %}
  {% get_static_prefix as static %}
  <link rel='icon' type='image/png' href='{{ static }}img/favicon.png'>
  {% include 'stylesheets.html' %}
  {% include 'javascripts.html' %}
  {% block head %}{% endblock %}
</head>
<body>
  <div class='wrapper'>
    <header>
      {% include 'header.html' %}
    </header>
    {% include 'messages.html' %}
    {% block fullscreen %}{% endblock %}
    <div class='content'>
      {% block content %}{% endblock %}
    </div>
  </div>
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
</html>