<!DOCTYPE HTML>
<html lang='en'>
<head>
  <title>
    {% if not user.is_anonymous %}
      {% if user.profile.title_count %}
        ({{ user.profile.title_count }})
      {% endif %}
    {% endif %}
    {% block title %}SpadeTree{% endblock %}
  </title>
  {% load static %}
  {% get_static_prefix as static %}
  <link rel='icon' type='image/png' href='{{ static }}img/favicon.png'>
  {% include 'stylesheets.html' %}
  {% include 'javascripts.html' %}
  {% block meta %}
    <meta property='og:title' content='Knowledge for everyone'>
    <meta property='og:image' content='http://s3.amazonaws.com/spadetree/img/fb_profile.png'>
    <meta property='og:url' content='{{ request.build_absolute_uri }}'>
    <meta property='og:site_name' content='SpadeTree'>
    <meta property='og:description' content='We connect passionate people with youth who are eager to learn new skills that are not typically taught in school.'>
  {% endblock %}
  {% block head %}{% endblock %}
  <script type='text/javascript'>
    // Google Analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42048303-1', 'spadetree.com');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class='wrapper'>
    <header>
      {% include 'header.html' %}
    </header>
    {% include 'messages.html' %}
    {% block fullscreen %}{% endblock %}
    <div class='content'>
      {% block content %}{% endblock %}
    </div>
  </div>
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
</html>