<!DOCTYPE HTML>
<html lang='en'>
<head>
  <title>
    {% block title %}SpadeTree{% endblock %}
  </title>
  {% load static %}
  {% get_static_prefix as static %}
  {% include 'stylesheets.html' %}
  {% block head %}{% endblock %}
</head>
<body>
  <div class='wrapper'>
    <header>
      {% include 'header.html' %}
    </header>
    {% block fullscreen %}{% endblock %}
    <div class='content'>
      {% block content %}{% endblock %}
    </div>
  </div>
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
</html>