<div class='header'>
  <a href='{% url root_path %}' class='logo'>
    <img src='{{ static }}img/spade_green.png' class='spade'>
    <img src='{{ static }}img/spadetree.png' class='spadetree'>
  </a>
  <nav>
    <ul>
      {% if user.is_anonymous %}
        <li>
          <a href='{% url oauth.views.facebook %}'>Sign in</a>        
        </li>
      {% else %}
        <li>
          <a class='browse' href='{% url interests.views.browse %}'>
            Browse
          </a>
        </li>
        <li>
          <a href='{% url users.views.detail user.profile.slug %}' class='menu'>
            <div><img src='{{ user.profile.image_small }}'></div>
            <span class='{% if user.profile.title_count %}red{% endif %}'>
              {{ user.first_name }}
            </span>
          </a>
        </li>
      {% endif %}
    </ul>
    {% if not user.is_anonymous %}
      <nav id='menu'>
        <ul>
          <li>
            <a href='{% url choices.views.requests %}'>
              Requests
              <span class='choiceCount'>
                {% if user.profile.choice_count %}
                  {{ user.profile.choice_count}}
                {% endif %}
              </span>
            </a>
          </li>
          <li>
            <a href='{% url usermessages.views.list %}'>
              Messages
              <span class='messageCount'>
                {% if user.profile.unread_message_count %}
                  {{ user.profile.unread_message_count }}
                {% endif %}
              </span>
            </a>
          </li>
          <li>
            <a href='{% url users.views.edit user.profile.slug %}'>
              Edit profile
            </a>
          </li>
          <li>
            <a href='{% url sessions.views.sign_out %}'>
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    {% endif %}
  </nav>
</div>