{% load compress %}
{% compress js %}
<!-- Library js files -->
<script type='text/javascript' src='{{ static }}js/jquery-1.10.1.min.js'></script>
<script type='text/javascript' src='{{ static }}js/jquery-ui-1.10.3.min.js'></script>
<script type='text/javascript' src='{{ static }}js/jquery.autoresize.js'></script>
<script type='text/javascript' src='{{ static }}js/jquery.lazyload.min.js'></script>
<!-- SpadeTree js files -->
<script type='text/javascript' src='{{ static }}js/autoresize.js'></script>
<script type='text/javascript' src='{{ static }}js/choices.js'></script>
<script type='text/javascript' src='{{ static }}js/datepicker.js'></script>
<script type='text/javascript' src='{{ static }}js/days.js'></script>
<script type='text/javascript' src='{{ static }}js/functions.js'></script>
<script type='text/javascript' src='{{ static }}js/header.js'></script>
<script type='text/javascript' src='{{ static }}js/interests.js'></script>
<script type='text/javascript' src='{{ static }}js/lazy.js'></script>
<script type='text/javascript' src='{{ static }}js/messages.js'></script>
<script type='text/javascript' src='{{ static }}js/pagination.js'></script>
<script type='text/javascript' src='{{ static }}js/reviews.js'></script>
<script type='text/javascript' src='{{ static }}js/skills.js'></script>
<script type='text/javascript' src='{{ static }}js/usermessages.js'></script>
{% endcompress %}
<!-- External js files -->
<script type='text/javascript' src='http://s3.amazonaws.com/spadetree/js/jquery.masonry.js'></script>
<script type='text/javascript' src='http://s3.amazonaws.com/spadetree/js/jquery.spin.js'></script>