{% if objects and objects.paginator.num_pages > 1 %}
<div class="pagination">
  <ul>
    {% if objects.has_previous %}
      <li>
        <a class='prev' href="?p={{ objects.previous_page_number }}">
          &#8592 Prev
        </a>
      </li>
    {% endif %}
    {% for page in objects.page_range %}
      {% if not page %}
        <li class="falsePage"><p>...</p></li>
      {% else %}
        <li {% if page == objects.number %}class="current"{% endif %}>
          <a href="?p={{ page }}">
            {{ page }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    {% if objects.has_next %}
      <li>
        <a class='next' href="?p={{ objects.next_page_number }}">
          Next &#8594
        </a>
      </li>
    {% endif %}
  </ul>
</div>
{% endif %}