{% load compress %}

{% compress css %}
<link rel='stylesheet' type='text/css' href='{{ static }}css/choices.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/footer.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/forms.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/header.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/interests.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/join.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/jquery-ui-1.10.3.custom.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/main.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/messages.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/pagination.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/reviews.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/skills.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/usermessages.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/users.css'>
{% endcompress %}