{% load compress %}

{% compress css %}
<link rel='stylesheet' type='text/css' href='{{ static }}css/footer.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/forms.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/header.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/join.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/main.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/messages.css'>
<link rel='stylesheet' type='text/css' href='{{ static }}css/users.css'>
{% endcompress %}