@mixin browser($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  #{$property}: #{$value};
}
.dialog {
  margin: 40px auto;
  text-align: center;
  width: 500px;
  h1 {
    font-size: 27px;
    font-weight: 300;
    line-height: 36px;
    margin: 0;
  }
  p {
    font-size: 14px;
    line-height: 21px;
    margin: 40px 0 0 0;
  }
  a {
    background: rgb(115, 202, 36);
    @include browser(border-radius, 2px);
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    padding: 20px;
    position: relative;
    top: 60px;
    &:hover {
      background: rgb(125, 212, 46);
    }
  }
}