@mixin browser($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  #{$property}: #{$value};
}

input, textarea, button {
  -webkit-appearance: none;
  @include browser(box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  @include browser(box-sizing, border-box);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}
input, textarea {
  border: 1px solid rgb(200, 200, 200);
  line-height: 21px;
  padding: 10px;
  &:hover {
    border: 1px solid rgb(150, 150, 150);
  }
  &:focus {
    border: 1px solid rgb(115, 202, 36);
  }
}
textarea {
  resize: none;
  padding: 10px;
  vertical-align: bottom;
}
button, .action a {
  font-size: 14px;
  padding: 10px 20px;
}
button {
  background: rgb(115, 202, 36);
  border: none;
  color: rgb(255, 255, 255);
  &:hover {
    cursor: pointer;
  }
}
.action a {
  background: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
}