@mixin browser($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  #{$property}: #{$value};
}
/* Choose */
.choose {
  h1 {
    font-family: 'Varela', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin: 40px 0 0 0;
    text-align: center;
  }
  .audience {
    margin: 40px 0 0 0;
    form {
      width: 50%;
      button {
        background: none;
        border: none;
        float: left;
        margin: 0;
        width: 100%;
        @include browser(border-radius, 2px);
        color: rgb(50, 50, 50);
        padding: 20px;
        &:hover {
          background: rgb(220, 220, 220);
          cursor: pointer;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
/* Detail */
.userDetail {
  .top {
    background: rgb(220, 220, 220);
    height: 100px;
    padding: 40px 20px;
    .image {
      float: left;
      height: 100px;
      margin: 0 20px 0 0;
      overflow: hidden;
      text-align: center;
      width: 100px;
      img {
        max-height: 100px;
      }
    }
    .name {
      float: left;
      h1 {
        font-size: 36px;
        font-weight: 300;
        line-height: 54px;
        margin: 0;
      }
      p {
        background-image: url('../img/location.png');
        background-repeat: no-repeat;
        background-size: 18px 18px;
        font-size: 18px;
        line-height: 18px;
        margin: 20px 0 0 0;
        padding: 0 0 0 23px;
      }
    }
    .chooseTutor {
      background: rgb(115, 202, 36);
      color: rgb(255, 255, 255);
      display: block;
      float: right;
      font-size: 18px;
      line-height: 24px;
      margin: 28px 0 0 0;
      padding: 10px 20px;
    }
  }
  .bottom {
    background: rgb(240, 240, 240);
    padding: 20px;
    .section {
      width: 45%;
      &.about {
        float: left;
        h1 {
          background-image: url('../img/about.png');
        }
      }
      &.skills {
        float: right;
        h1 {
          background-image: url('../img/skills.png');
        }
        ul {
          list-style-position: inside;
          list-style-type: square;
          margin: 0;
          padding: 0;
          li {
            float: left;
            width: 50%;
            &:hover {
              color: rgb(41, 154, 11);
            }
            a {
              color: rgb(41, 154, 11);
              display: block;
              font-size: 14px;
              height: 18px;
              line-height: 21px;
              overflow: hidden;
              padding: 5px 0;
              text-overflow: ellipsis;
              &:hover {
                color: rgb(50, 50, 50);
              }
            }
          }
        }
      }
      h1 {
        background-repeat: no-repeat;
        background-size: 25px 25px;
        font-size: 27px;
        font-weight: 300;
        line-height: 27px;
        margin: 0 0 20px 0;
        padding: 0 0 0 35px;      
      }
      p {
        font-size: 14px;
        line-height: 27px;
      }
    }
  }
  .friendsTutored {
    h1 {
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      margin: 0;
    }
    .friendTutored {
      margin: 10px 0 0 0;
      .image {
        float: left;
        height: 35px;
        overflow: hidden;
        width: 35px;
        img {
          max-height: 35px;
        }
      }
      .info {
        margin: 0 0 0 45px;
        overflow: hidden;
        p {
          font-size: 13px;
          line-height: 19px;
        }
        .interests {
          height: 16px;
          a {
            color: rgb(41, 154, 11);
            font-size: 13px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
/* Edit */
.userEdit {
  margin: 0 0 40px 0;
  .section {
    margin: 40px 0 0 0;
    &.skills {
      h1 {
        background-image: url('../img/skills.png');
      }
      .skillBox {
        background: rgb(240, 240, 240);
        min-height: 36px;
        padding: 10px;
      }
      .addSkill {
        margin: 10px 0 0 0;
        .inputBox {
          padding: 0 110px 0 0;
          input {
            float: left;
          }
        }
        .addSkillButton {
          background: rgb(115, 202, 36);
          @include browser(box-sizing, border-box);
          color: rgb(255, 255, 255);
          float: right;
          font-size: 14px;
          line-height: 16px;
          padding: 13px 20px 14px 20px;
          text-align: center;
          width: 100px;
        }
      }
    }
    &.about {
      h1 {
        background-image: url('../img/about.png');
      }
    }
    &.location {
      float: left;
      width: 55%;
      h1 {
        background-image: url('../img/location.png');
      }
      .field {
        float: left;
        margin: 0 10px 0 0;
        width: 45%;
      }
    }
    &.phone {
      float: right;
      width: 40%;
      h1 {
        background-image: url('../img/phone.png');
      }
      .contactNote {
        color: rgb(150, 150, 150);
        font-size: 13px;
        line-height: 20px;
        margin: 10px 0 0 0;
        text-align: center;
      }
    }
    &.days, &.hours {
      .dayHourBox {
        background: rgb(240, 240, 240);
        min-height: 36px;
        padding: 10px;
        .selectForm {
          &:first-child {
            button {
              margin: 0;
            }
          }
          button {
            background: none;
            color: rgb(50, 50, 50);
            float: left;
            margin: 0 0 0 10px;
            padding: 10px;
            &:hover {
              background: rgb(220, 220, 220);
            }
            &.selected {
              background: rgb(50, 50, 50);
              color: rgb(255, 255, 255);
            }
          }
        }
      }
    }
    &.days {
      h1 {
        background-image: url('../img/days.png');
      }
    }
    &.hours {
      h1 {
        background-image: url('../img/hours.png');
      }
      .dayHourBox {
        .hourAm, .hourPm {
          height: 36px;
          p {
            float: left;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            padding: 10px 20px;
          }
          .selectForm {
            button {
              padding: 10px 20px;
            }
          }
        }
        .hourPm {
          margin: 10px 0 0 0;
        }
      }
    }
    h1 {
      background-repeat: no-repeat;
      background-size: 25px 25px;
      font-size: 27px;
      font-weight: 300;
      line-height: 27px;
      margin: 0 0 20px 0;
      padding: 0 0 0 35px;
    }
    input, textarea {
      width: 100%;
    }
    textarea {
      height: 127px;
    }
  }
  .action {
    margin: 40px 0 0 0;
  }
}