{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class='choose'>
  <div class='audience'>
    <div class='section tutees'>
      <h1>Tutee</h1>
      <div class='image'>
        <img src='{{ static }}img/tutees.png'>
      </div>
      <p>
        if I want to learn a new skill or grow in knowledge
      </p>
    </div>
    <div class='section tutors'>
      <h1>Tutor</h1>
      <div class='image'>
        <img src='{{ static }}img/tutors.png'>
      </div>
      <p>
        if I want to teach my skills to an eager learner
      </p>
    </div>
  </div>
</div>
{% endblock %}