{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load common_tags %}
<div class='userDetail'>
  <div class='top'>
    <div class='image'>
      <img class='lazy' data-original='{{ userd.profile.image_big }}' src='{% lazy_image %}'>
    </div>
    <div class='name'>
      <div>
        <h1>{{ userd.profile.full_name }}</h1>
        {% if userd.oauth.facebook_link and user_is_tutor %}
          <a href='{{ userd.oauth.facebook_link }}' target='_blank'>
            view Facebook profile
          </a>
        {% endif %}
      </div>
      <div class='clear'></div>
      <p>{{ userd.profile.location.title }}</p>
    </div>
    {% if show_choice_button %}
      <a href='#' class='chooseTutor'>Choose Tutor</a>
    {% endif %}
  </div>
  <div class='bottom'>
    <div class='section about'>
      <h1>About</h1>
      <p>{{ userd.profile.about|linebreaks }}</p>
      <div class='clear'></div>
    </div>
    <div class='section skills'>
      <h1>{{ userd.profile.skills_or_interests }}</h1>
      <ul>
        {% for skill in skills %}
          <li>
            <a href='{% url interests.views.detail skill.interest.slug %}'>
              {{ skill.interest.name.title }}
            </a>
          </li>
        {% endfor %}
        <div class='clear'></div>
      </ul>
      <div class='clear'></div>
    </div>
    <div class='clear'></div>
  </div>
  <div class='tutorReviews'>
    {% if userd != user and user.profile.tutee %}
      <div class='review'>
        <div class='newReviewForm'>
          {% include 'reviews/new_review_form.html' %}
        </div>
      </div>
    {% endif %}
    {% if user_is_tutor and user.profile.tutee %}
      <span class='friends'></span>
    {% endif %}
    <span class='prepend'>
      {% include 'reviews/reviews.html' %}
    </span>
  </div>
  {% if show_choice_button %}
    <div class='newChoiceForm'>
      {% include 'choices/new_choice_form.html' %}
    </div>
  {% endif %}
</div>
<span class='endlessPagination'>
  {% include 'pagination.html' %}
</span>
{% endblock %}
{% block head %}
{% if user_is_tutor and user.profile.tutee %}
<script>
$(document).ready(function() {
  $.ajax({
    type: 'GET',
    url: '{% url users.views.friends_tutored userd.profile.slug %}',
    success: function(response) {
      var reviewsCount = $('.tutorReviews .prepend .review').length;
      var firstReview = $('.tutorReviews .prepend .review').first();
      $('.tutorReviews .friends').html(response.friends_tutored);
      // Masonry
      $('.tutorReviews').masonry('reload');
      // Lazy
      $('.lazy').lazyload({
        event: 'load',
        failure_limit: 50
      });
    }
  });
});
</script>
{% endif %}
{% endblock %}