{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class='userEdit'>
  <div class='section skills'>
    <h1>{{ user.profile.skills_or_interests }}</h1>
    <div class='skillBox'>
      <span>
        {% for skill in skills %}
          {% include 'skills/skill_delete_form.html' %}
        {% endfor %}
      </span>
      <div class='clear'></div>
    </div>
    <div class='addSkill'>
      {% include 'skills/skill_add_form.html' %}
    </div>
  </div>
  {% if user.profile.tutor %}
    <div class='section days'>
      <h1>Days of the week that work for you</h1>
      <div class='dayHourBox'>
        {% for day, button_class in days %}
          {% include 'days/day_form.html' %}
        {% endfor %}
      </div>
    </div>
    <div class='section hours'>
      <h1>Hours of the day that work for you</h1>
      <div class='dayHourBox'>
        <div class='hourAm'>
          {% for hour, button_class in hours_am %}
            {% include 'hours/hour_form.html' %}
          {% endfor %}
          <p>AM</p>
        </div>
        <div class='hourPm'>
          {% for hour, button_class in hours_pm %}
            {% include 'hours/hour_form.html' %}
          {% endfor %}
          <p>PM</p>
        </div>
      </div>
    </div>
  {% endif %}
  <form action='' method='POST'>
    {% csrf_token %}
    <div class='section about'>
      <h1>About</h1>
      <div class='field'>
        {{ profile_form.about }}
      </div>
    </div>
    <div class='section location'>
      <h1>Location</h1>
      <div class='field'>
        <input autocomplete='off' name='city_name' type='text' placeholder='City' value='{{ user.profile.city.name.title }}'>
      </div>
      <div class='field'>
        <input autocomplete='off' name='state_name' type='text' placeholder='State' value='{{ user.profile.city.state.name.title }}'>
      </div>
      <div class='clear'></div>
    </div>
    <div class='section phone'>
      <h1>
        {% if user.profile.tutee %}
          Parent's
        {% endif %}
        Contact Number
      </h1>
      <div class='field'>
        {{ profile_form.phone }}
      </div>
      <div class='contactNote'>
        {% if user.profile.tutor %}
          This will only show when you accept a tutee's request
        {% elif user.profile.tutee %}
          This will only show when a tutor accepts your request
        {% endif %}
      </div>
    </div>
    <div class='clear'></div>
    <div class='action'>
      <button>Update</button>
      <a href='{% url users.views.detail user.profile.slug %}'>Cancel</a>
    </div>
  </form>
</div>
{% endblock %}