{% if friends %}
  <div class='review friendsTutored'>
    {% load common_tags %}
    <h1>Friends that {{ userd.profile.full_name }} has tutored</h1>
    {% for friend, interests in friends %}
      <div class='friendTutored'>
        <div class='image'>
          <img class='lazy' data-original='{{ friend.profile.image_small }}' src='{% lazy_image %}'>
        </div>
        <div class='info'>
          <p>{{ friend.first_name }} {{ friend.last_name }}</p>
          <div class='interests'>
            {% for interest in interests %}
              {% if forloop.counter != 1 %},{% endif %}
              <a href='{% url interests.views.detail interest.slug %}'>
                {{ interest.name.title }}
              </a>
            {% endfor %}
          </div>
        </div>
        <div class='clear'></div>
      </div>
    {% endfor %}
  </div>
{% endif %}