{% if not choice.completed %}
  {% if choice.accepted %}
    {% if user.profile.tutor and choice.ready %}
      <a href='{% url choices.views.detail choice.pk %}'>View request</a>
    {% elif user.profile.tutee %}
      <a href='{% url choices.views.detail choice.pk %}'>
        {% if choice.ready %}
          View
        {% else %}
          Set date and place
        {% endif %}
      </a>
    {% endif %}
  {% endif %}
  <form action='{% url choices.views.action choice.pk %}' method='POST'>
    {% csrf_token %}
    <div class='action'>
      <input class='choiceActionField' name='action' type='hidden'>
      {% if user.profile.tutor %}
        {% if not choice.accepted %}
          <button class='accept' name='action' value='accept'>Accept</button>
        {% endif %}
        {% if not choice.denied %}
          <button class='deny' name='action' value='deny'>Deny</button>
        {% endif %}
      {% elif user.profile.tutee and choice.accepted %}
        <button class='complete' name='action' value='complete'>
          Click when tutoring complete
        </button>
      {% endif %}
    </div>
  </form>
{% endif %}