<div class='choice' id='choice_{{ choice.pk }}'>
  <div class='top'>
    {% load common_tags %}
    <div class='image'>
      {% if user.profile.tutor %}
        <img class='lazy' data-original='{{ choice.tutee.profile.image_small }}' src='{% lazy_image %}'>
      {% elif user.profile.tutee %}
        <img class='lazy' data-original='{{ choice.tutor.profile.image_small }}' src='{% lazy_image %}'>
      {% endif %}
    </div>
    <div class='timestamp'>
      <p>
        <span class='gray150'>{{ choice.created_date_string }}</span>
      </p>
      <span class='requestStatus'>
        {% include 'choices/request_status.html' %}
      </span>
    </div>
    <div class='name'>
      <h1>
        {% if user.profile.tutor %}
          From:
          <a href='{% url users.views.detail choice.tutee.profile.slug %}'>
            {{ choice.tutee.profile.full_name }}
          </a>
        {% elif user.profile.tutee %}
          To:
          <a href='{% url users.views.detail choice.tutor.profile.slug %}'>
            {{ choice.tutor.profile.full_name }}
          </a>
        {% endif %}
      </h1>
      <p>
        <a href='{% url interests.views.detail choice.interest.slug %}'>
          {{ choice.interest.name.title }}</a> - {{ choice.day.name.title }} 
        at {{ choice.hour.hour_of_day }} {{ choice.hour.am_pm }}
      </p>
    </div>
  </div>
  <div class='bottom'>
    {{ choice.content|linebreaks }}
  </div>
  <div class='choiceActionForm'>
    {% include 'choices/choice_action_form.html' %}
  </div>
  <div class='contactNumber'>
    {% include 'choices/contact_number.html' %}
  </div>
  <div class='clear'></div>
</div>