<form action='{% url skills.views.new ".js" %}' method='POST'>
  {% csrf_token %}
  <div class='inputBox'>
    <input autocomplete='off' class='addSkillInput' data-autocomplete-source='{% url interests.views.search ".js" %}' name='interest_name' type='text' placeholder='Type here to add your {{ user.profile.skills_or_interests.lower }}'>
  </div>
  <a class='addSkillButton' href='#'>Add skill</a>
  <div class='clear'></div>
  <div class='interestResults'></div>
</form>
<div class='clear'></div>